<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.hyte_projekti">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="Fit Summit"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <receiver android:name="com.example.hyte_projekti.General.Receiver"></receiver>

        <activity android:name=".MucleBulding.MuscleWpExerciseActivity" />
        <activity android:name=".MucleBulding.MuscleWeekPlanActivity" />
        <activity
            android:name=".DayActivity"
            android:parentActivityName=".WeightLoss.ExActivityOne" />
        <activity
            android:name=".WeekPlanActivity"
            android:parentActivityName=".WeightLoss.ExActivityOne" />
        <activity android:name=".WpExerciseActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".General.ProgramMenu" />
        </activity>
        <activity
            android:name=".SelectEx"
            android:parentActivityName=".ExActivityTwo">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".ExActivityTwo" />
        </activity>
        <activity
            android:name=".General.IconScreen"
            android:noHistory="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".MucleBulding.MuscleBuildingExerciseInfo" />
        <activity android:name=".MucleBulding.MuscleDayList" />
        <activity android:name=".MucleBulding.ExActivityThree" />
        <activity android:name=".ExActivityTwo" />
        <activity android:name=".WeightLoss.ExActivityOne" />
        <activity android:name=".DaysActivity" />
        <activity android:name=".WeightLoss.WeightLossWeekPlan" />
        <activity android:name=".WeightLoss.WeightLossExercises" />
        <activity android:name=".WeightLoss.WeightLossExercise" />
        <activity
            android:name=".General.ProgramMenu"
            android:parentActivityName=".General.MainActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".General.MainActivity" />
        </activity>
        <activity
            android:name=".MucleBulding.BuildMuscle"
            android:parentActivityName=".General.ProgramMenu">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".General.ProgramMenu" />
        </activity>
        <activity
            android:name=".MaintainFitnessLevel"
            android:parentActivityName=".General.ProgramMenu">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".General.ProgramMenu" />
        </activity>
        <activity
            android:name=".General.MainActivity"
            android:noHistory="true"></activity>
    </application>

</manifest>