<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.hyte_projekti">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="Fit Summit"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <receiver android:name="com.example.hyte_projekti.Receiver"></receiver>

        <activity android:name=".MuscleWpExerciseActivity" />
        <activity android:name=".MuscleWeekPlanActivity" />
        <activity
            android:name=".DayActivity"
            android:parentActivityName=".ExActivityOne" />
        <activity
            android:name=".FitnessManagement.WeekPlanActivity"
            android:parentActivityName=".ExActivityOne" />
        <activity android:name=".FitnessManagement.WpExerciseActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".ProgramMenu" />
        </activity>
        <activity
            android:name=".FitnessManagement.SelectEx"
            android:parentActivityName=".FitnessManagement.ExActivityTwo">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".FitnessManagement.ExActivityTwo" />
        </activity>
        <activity
            android:name=".IconScreen"
            android:noHistory="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".MuscleBuildingExerciseInfo" />
        <activity android:name=".MuscleDayList" />
        <activity android:name=".ExActivityThree" />
        <activity android:name=".FitnessManagement.ExActivityTwo" />
        <activity android:name=".ExActivityOne" />
        <activity android:name=".FitnessManagement.DaysActivity" />
        <activity android:name=".WeightLossWeekPlan" />
        <activity android:name=".WeightLossExercises" />
        <activity android:name=".WeightLossExercise" />
        <activity
            android:name=".ProgramMenu"
            android:parentActivityName=".MainActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".MainActivity" />
        </activity>
        <activity
            android:name=".BuildMuscle"
            android:parentActivityName=".ProgramMenu">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".ProgramMenu" />
        </activity>
        <activity
            android:name=".FitnessManagement.MaintainFitnessLevel"
            android:parentActivityName=".ProgramMenu">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".ProgramMenu" />
        </activity>
        <activity
            android:name=".MainActivity"
            android:noHistory="true"></activity>
    </application>

</manifest>